/000_SettingEnvironment/bin
/000_SettingEnvironment/obj
/002_SimpleShader/bin
/002_SimpleShader/node_modules
/002_SimpleShader/obj/Debug
/003_CoolColorTriangle/bin
/003_CoolColorTriangle/obj
/004_ColorCube/bin
/004_ColorCube/obj
/005_Transformation/bin
/005_Transformation/obj
/900_CommonModule/bin
/900_CommonModule/obj
/999_Test/bin
/999_Test/obj
/InitGL/bin
/InitGL/obj
/node_modules/@types/node
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.3.6.0
*.user
/.vs